<title>{{headTituloInicial}}</title>
<body>
    <header id="menuTitulo">
        <img type="button" src="../../../app/img/SoVamuIcone.png" ng-click="irParaHome()">
        <div class="h1TituloPrincipal">
            <h1>Simulador de Financiamentos</h1>
        </div>
    </header>
    <nav id="tipoDeCadastramento">
        <h2 id="dadosSubtitulo">HISTÓRICO DE PROPOSTAS</h2>

    </nav>
    <main id="conteudo-principal">
        <section  id="formularioImovel">
        <form>
           <table>
               <thead>
                   <tr>
                       <td> Nome do proponente  |  </td >
                       <td> Data da simulação </td >
                       <td> | Valor total do Imóvel |</td>
                       <td> Número de parcelas </td>
                   </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="listaCadastros in bancoDeListaDados">
                    <td>{{listaCadastros.listaNomes}}</td>
                    <td>{{listaCadastros.dataDeSimulacao | date: 'dd/MM/yyyy HH:mm'}}</td>
                    <td>{{listaCadastros.formularioValor}}</td>
                    <td> {{listaCadastros.formularioQtdParcela}}<p>parcelas</p> </td>
                    <td>
                    <button  id="btnVisualPropostaHistorico" ng-click="dadosParaModal(listaCadastros)" data-bs-toggle="modal"  data-bs-target="#exampleModalLong" class="btn">
                        <img src="../../../app/img/visualizar.png">
                     
                    </button>
                    <button   id="btnExcluirPropostaHistorico" ng-click="dadosParaModal(listaCadastros)"  data-bs-toggle="modal"  data-bs-target="#exampleModalLong" class="btn">
                        <img src="../../../app/img/excluir.png">
                    </button>
                    </td>
                  </tr> 
               </tbody>
           </table>
        </form>
        </section>
    </main>
</body>