<div class="modal fade" id="visualizaohistorico" ng-controller="ctrlModalbtnHistorico"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <button  onclick="printContent('visualizaohistorico')" class="btn">
               <img id="impressãoDocumentacao" src="../../../app/img/impressora.png">
            </button>
          </div>
        <div class="modal-body">
          
            <table class="table">
                <thead>
                    <h6>Dados do proponente</h6>
                    <tr>
                        <th>Nome do proponente</th>
                        <th>Profissao</th>
                        <th>CPF</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{atualizaListagem.listaCadastros.listaNomes}}</td>
                        <td>{{atualizaListagem.listaCadastros.listaProfissao}}</td>
                        <td>{{atualizaListagem.listaCadastros.listaCpf}}</td>
                    </tr>

                    <tr>
                        <th>Email do proponente</th>
                        <th>Data de nascimento</th>
                        <th>CEP</th>
                    </tr>

                    <tr>
                        <td>{{atualizaListagem.listaCadastros.listaEmail}}</td>
                        <td>{{atualizaListagem.listaCadastros.listaNascimento}}</td>
                        <td>{{atualizaListagem.listaCadastros.listaCep}}</td>
                    </tr>

                    <tr>
                        <th>Celular</th>
                    </tr>

                    <tr>
                        <td>{{atualizaListagem.listaCadastros.listaCelular}}</td>
                    </tr>
                </tbody>
            </table>
        </br>
            <table class="table">
                <thead>
                    <h6>Dados do imovel</h6>
                    <tr>
                        <th>Tipo do imovel</th>
                        <th>Renda mensal</th>
                        <th>Valor do imóvel</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{atualizaListagem.listaCadastros.formularioTipo}}</td>
                        <td>{{atualizaListagem.listaCadastros.formularioRenda}}</td>
                        <td>{{atualizaListagem.listaCadastros.formularioValor}}</td>
                    </tr>

                    <tr>
                        <th>Valor da Entrada</th>
                        <th>Numero de parcelas</th>
                    </tr>
                    
                    <tr>
                        <td>{{atualizaListagem.listaCadastros.formularioValorEntrada}}</td>
                        <td>{{atualizaListagem.listaCadastros.formularioQtdParcela}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table  class="table">
                <thead>
                    <h6>Dados do financiamento</h6>
                    <tr>
                        <th>taxa ao ano</th>
                        <th>valor total financiado</th>
                        <th>valor total com juros</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>10%</td>
                        <td>{{atualizaListagem.listaCadastros.sub}}</td>
                    </tr>
                </tbody>
            </table>
           
        </div>

        </div>
    
      </div>
    </div>
</div>