<div  ng-controller="ctrlListaPropostas"  class="modal fade" id="modalExcluirListagem"  tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h6>Você realmente deseja delatar essa proposta?</h6>

          <p>Propostas deletadas não poderão ser mais visualizadas, esse procedimento não é reverssível</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
          <button type="button" class="btn btn-primary">EXCLUIR</button>
        </div>
      </div>
    </div>
</div>

