<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{tituloPageReprovado}}</title>
</head>
<body>
    <header id="menuTitulo">
        <img src="../../../app/img/SoVamuIcone.png">
        <div class="h1TituloPrincipal">
            <h1>Simulador de Financiamentos</h1>
        </div>
    </header>
    <nav>
        <h2>Reprovado</h2>
    </nav>
    <main>
        <section>
            <h1>Proposta N° 00001</h1>
            <img src="../../../app/img/statusReprovado.png">
            <p>Infelizmente não foi possível aprovar seu financiamento.</p>
            <p>Não desanime, reunimos algumas dicas que pode ajudar na sua próxima simulação:</p>
            <br>
            <p>Mantenha seu CPF em dia e sem restrições.</p>
            <p>Dados de endereço, e-mail, telefone sempre atualizados.</p>
            <p>Melhore seu relacionamento com o banco, movimentando sua conta</p>

            <button ng-click="irParaHome()">IR PARA TELA INICIAL</button>
        </section>
    </main>
</body>
</html>