<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{tituloPageReprovado}}</title>
</head>
<body>
    <header id="menuTitulo">
        <img src="../../../app/img/SoVamuIcone.png">
        <div class="h1TituloPrincipal">
            <h1>Simulador de Financiamentos</h1>
        </div>
    </header>
    <nav id="tipoDeCadastramento">
        <h2 id="dadosSubtitulo">Reprovado</h2>
    </nav>
    <main id="conteudo-principal">
        <section id="formularioTelaReprovado">
            <div id="stsReprovadoConfiguracao">
            <h1>Proposta N° 00001</h1>
            <div id="subtituloAgrupandoImagem">
            <img src="../../../app/img/statusReprovado.png">
            <h2 id="subtituloInformandoReprovado">STATUS: REPROVADO</h2>
            </div>

            <div id="stsReprovadodiv1">
            <p><strong>Infelizmente não foi possível aprovar seu financiamento.</strong></p>
            <p><strong>Não desanime, reunimos algumas dicas que pode ajudar na sua próxima simulação:</strong></p>
            <br>
            </div>

            <div id="stsReprovadodiv2">
            <p><strong> • Mantenha seu CPF em dia e sem restrições.</strong> </p>
            <p><strong> • Dados de endereço, e-mail, telefone sempre atualizados.</strong> </p>
            <p><strong> • Melhore seu relacionamento com o banco, movimentando sua conta</strong></p>
            </div>

            <button id="btnTeladeInicio" class="btn btn-primary" ng-click="irParaHome()">IR PARA TELA INICIAL</button>
            </div>
        </section>
    </main>
    <footer id="footerStyleTelas">
        
    </footer>
</body>
</html>