<title>{{headTituloInicial}}</title>
<body>
    <header id="menuTitulo">
        <img type="button" src="../../../app/img/SoVamuIcone.png" ng-click="irParaHome()">
        <div class="h1TituloPrincipal">
            <h1>Simulador de Financiamentos</h1>
        </div>
    </header>
    <nav id="tipoDeCadastramento">
        <h2 id="dadosSubtitulo">HISTÓRICO DE PROPOSTAS</h2>
    </nav>

    <h1>(Desculpe :( Não encontramos nenhum histórico de propostas. Por favor, simule um financiamento para que os dados apareçam aqui.)</h1>
</body>