<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{tituloPageAprovado}}</title>
</head>
<body>
    <header id="menuTitulo">
        <div id="titulo">
           <h1>Simulador de Financiamentos</h1>
        </div>
    </header>

    <nav>
        <h2>Aprovado</h2>
    </nav>

    <section>
        <h1>Proposta N° 00001</h1>
        <img src="../../../app/img/statusAprovado.png">
        <h2>STATUS: APROVADO</h2>
        <p>Taxa de 8% ao ano para correntistas</p>
        <P>Taxa de 10% ao ano para não correntistas</P>
        <p>Parcela Inicial R$ {{sub}}</p>
        <p>Valor total aprovado: R$X.XXX,XX {{calculandoParcelaInicial}} </p>
        <p>Seguro Só Vamu Security.</p>
        <p>Desconto na primeira e na última parcela</p>

        <button ng-click="irParaHome()">IR PARA A TELA INICIAL</button>

    </section>
</body>
</html>