*{
    margin: 0;
    padding: 0;
    
    
}

#conteudo-principal{
    background: rgb(242, 242, 243);
}

#dadosSubtitulo{
    margin-left: 10px;
}


/* nav */
#tipoDeCadastramento{
    background: rgb(242, 242, 243);
    height: 70px;
    margin: 0px;



}


#menuTitulo{
    background-color: #6200EE;
    color: #FFFF;
    display: flex;
    padding-left: 2%;
    flex-flow: row wrap;
    padding: 10px;
}

.h1TituloPrincipal{
    padding-left: 4%;
   

}

#footerStyleTelas{
    height: 72px;
    background: rgb(242, 242, 243);
}