<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{tituloHeadPage}}</title>
</head>
<body>
    <header id="menuTitulo">
        <div id="titulo">
           <h1>Simulador de Financiamentos</h1>
        </div>
    </header>

    <nav>
        <h2>Dados Proponente</h2>
    </nav>

    <main>
        <section>
            <form>
            <input type="text" ng-model="data.infoNomeCompleto" placeholder="Nome completo">
            <input type="text" ng-model="data.infoProfissao" placeholder="Profissão">
            <input type="text" ng-model="data.infoCPF" placeholder="CPF">
            <input type="text" ng-model="data.infoEmail" placeholder="email">
            <input type="text" ng-model="data.infoDataNascimento" placeholder="Data de nascimento">
            <input type="text" ng-model="data.infoCEP" placeholder="CEP">
            <input type="text" ng-model="data.infoCelular" placeholder="Celular">
            
            <button>CANCELAR</button>
            <button ng-click="irProximaPage('infoNomeCompleto', 'infoProfissao', 'infoCPF', 'infoEmail','infoDataNascimento','infoCEP','infoCelular')">CONTINUAR</button>
            </form>
        </section>
    </main>

</body>
</html>