<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{tituloHeadPage}}</title>
</head>

<body>
    <header id="menuTitulo">
        <img src="../../../app/img/SoVamuIcone.png">
        <div class="h1TituloPrincipal">
            <h1>Simulador de Financiamentos</h1>
        </div>
    </header>

    <nav id="tipoDeCadastramento">
        <h2 id="dadosSubtitulo">Dados proponente</h2>
    </nav>

    <main id="conteudo-principal">
        <section id="formularioProponente">

            <form name="customerForm">
                <div id=bloco1 class="row">
                    <div class="label-float col-4">
                        <input type="text" id="nomeCompleto" name="nomeCompleto" ng-pattern="/^[a-zA-ZáéíóúÁÉÍÓÚ\s]*$/"
                        ng-minlength="3" ng-model="data.infoNomeCompleto" placeholder=" " ng-required="true">
                        <label>Nome completo</label>
                        <div ng-hide="customerForm.nomeCompleto.$touched">Preencha com seu nome completo</div>
                        <div id="nomeInvalidoErro"
                            ng-show="customerForm.nomeCompleto.$touched && customerForm.nomeCompleto.$invalid">Nome inválido</div>
                        </div>


                    <div class=" label-float col-4">
                        <input type="text" id="definindoProfissao" name="definindoProfissao" ng-pattern="/^[a-zA-ZáéíóúÁÉÍÓÚ\s]*$/"
                            ng-model="data.infoProfissao" placeholder=" " ng-required="true">
                            <label>Profissão</label>
                        <div ng-hide="customerForm.definindoProfissao.$touched">Preencha com a sua profissão</div>
                        <div id="profissInvalidoErro"
                            ng-show="customerForm.definindoProfissao.$touched && customerForm.definindoProfissao.$invalid">
                            
                            Nome inválido da profissão</div>

                    </div>
                    <div class="label-float col-4">
                        <input id="inputCpf" name="definindoCpf" ng-pattern="/^([0-9]{3}\.?[0-9]{3}\.?[0-9]{3}\-?[0-9]{2}|[0-9]{2}\.?[0-9]{3}\.?[0-9]{3}\/?[0-9]{4}\-?[0-9]{2})$/" type="text" ng-model="data.infoCPF" placeholder=" "
                            ng-required="true">
                            <label>CPF</label>
                        <div ng-hide="customerForm.definindoCpf.$touched">Preencha com o seu CPF</div>
                        <div id="erroInvalidadoCpf" ng-show="customerForm.definindoCpf.$touched && customerForm.definindoCpf.$invalid">CPF
                            inválido</div>
                    </div>
                </div>
                <div class="row">
                    <div class="label-float col-4">
                        <input type="text" id="definindoEmail" ng-pattern="emailFormat" name="definindoEmail" ng-model="data.infoEmail"
                            placeholder=" " ng-required="true">
                            <label>E-mail</label>
                        <div ng-hide="customerForm.definindoEmail.$touched">Preencha com um email válido</div>
                        <div id="emailInvalido" ng-show="customerForm.definindoEmail.$touched && customerForm.definindoEmail.$invalid">
                            Email inválido</div>
                    </div>
                    <div class="label-float col-4">

                        <!-- <input  type="date"  ng-model="data.infoDataNascimento"  placeholder=" " required > -->
                        <input type="date" id="definindoDataNascimento" name="definindoDataNascimento"
                            ng-model="data.infomracoesNascimento" placeholder=" " ng-required="true">
                            <label>Data de nascimento</label>
                        <div ng-hide="customerForm.definindoDataNascimento.$touched">Preencha com sua data de nascimento
                        </div>
                        <div id="dataInvalidaErro"
                            ng-show="customerForm.definindoDataNascimento.$touched && customerForm.definindoDataNascimento.$invalid">
                            Preencha com uma data válida</div>

                    </div>
                    <div class="label-float col-4">
                        <input id="InputCep" name="definindoCep" ng-pattern="/^([\d]{2})([\d]{3})([\d]{3})|^[\d]{2}.[\d]{3}-[\d]{3}$/" type="text" ng-model="data.infoCEP" placeholder=" "
                            ng-required="true">
                            <label>CEP</label>
                        <div ng-hide="customerForm.definindoCep.$touched">Preencha com o seu CEP</div>
                        <div id="cepInvalidoErro" ng-show="customerForm.definindoCep.$touched && customerForm.definindoCep.$invalid">O CEP
                            deve ter 9 dígitos</div>

                    </div>
                </div>

                <div class="row">
                    <div class="label-float col-4">
                        <input id="inputCelular"  name="inputCelular" type="text" ng-model="data.infoCelular"
                            placeholder=" " required>
                            <label>Celular</label>
                        <div ng-hide="definindoCelular.$touched">Preencha com seu celular</div>
                        <div id="celInvalidoErro"  ng-show="customerForm.definindoCelular.$touched && customerForm.definindoCelular.$invalid">
                            Numero inválido do celular</div>
                    </div>
                </div>

                <footer id="footerProponente">
                    <div id="buttonCancelarButtonContinuar">
                        <button id=btnCancelar ng-click="buttonCancelar()"
                            class="btn btn-primary"><strong>CANCELAR</strong></button>
                        <button id="btnContinuar" class="btn btn-primary"
                            ng-click="irProximaPage('infoNomeCompleto', 'infoProfissao', 'infoCPF', 'infoEmail','infoDataNascimento','infoCEP','infoCelular')"
                            ng-disabled="customerForm.$invalid || menorIdade()"><strong>CONTINUAR</strong> </button>
                    </div>
                </footer>
            </form>
        </section>
    </main>
    <footer id="footerStyleTelas">

    </footer>
</body>

</html>