<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{tituloHeadPage}}</title>
</head>

<body>
    <header id="menuTitulo">
        <div id="titulo">
            <h1>Simulador de Financiamentos</h1>
        </div>
    </header>

    <nav>
        <h2>Dados proponente</h2>
    </nav>

    <main>
    
      
            <form name="customerForm" >
                 
                <input type="text" id="nomeCompleto" name="nomeCompleto" ng-pattern="/^[a-zA-ZáéíóúÁÉÍÓÚ\s]*$/" ng-minlength="3" ng-model="data.infoNomeCompleto" placeholder=" "  ng-required="true"  >
                   
                <label>Nome completo</label>
                      
              
                
                <div class="label-float">
                    <input type="text" ng-model="data.infoProfissao" placeholder=" " ng-required="true" >
                    <label>Profissão</label>
                </div>
                <div class="label-float">
                    <input id="inputCpf" type="text" ng-model="data.infoCPF" placeholder=" " ng-required="true" >
                    <label>CPF</label>
                </div>
                <div class="label-float">
                    <input type="text" ng-model="data.infoEmail" placeholder=" " ng-required="true" >
                    <label>E-mail</label>
                </div>
                <div class="label-float">

                    <!-- <input  type="date"  ng-model="data.infoDataNascimento"  placeholder=" " required > -->
                    <input type="date" name="infomracoesNascimento"   ng-model="data.infomracoesNascimento" placeholder=" "  ng-required="true"  >
                   
                    <label>Data de nascimento</label>
                </div>
                <div class="label-float">
                    <input id="InputCep"  ng-model="data.infoCEP" placeholder=" " ng-required="true" >
                    <label>CEP</label>
                </div>
                <div class="label-float">
                    <input id="inputCelular" type="text"  ng-pattern="re" ng-model="data.infoCelular"  placeholder=" " ng-required="true" >
                    <label>Celular</label>
                </div>
                
              
                <button ng-click="irParaHome()">CANCELAR</button>
                <button ng-click="irProximaPage('infoNomeCompleto', 'infoProfissao', 'infoCPF', 'infoEmail','infoDataNascimento','infoCEP','infoCelular')" ng-disabled="customerForm.$invalid || menorIdade()"  >CONTINUAR</button>
            </form>
     



       
    </main>

</body>
</html> 