input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
    border: 2px solid red;
}



#nomeInvalidoErro{
    color: red;
}

/* section */
#formularioProponente{
   background: #FFFF;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 1px;
    padding-top: 20px ;
    padding: 20px;
    /* background-color: red; */
    border: 1px solid rgb(214, 213, 213);
    border-radius: 8px;
    box-shadow: 0px 2px  #a59ab6;
}


#nomeCompleto{
width: 100%;

}

#definindoProfissao{
    width: 100%;
    
}

#inputCpf{
    width: 100%;
}

#InputCep{
    width: 100%;
}
#definindoDataNascimento{
    width: 100%; 
}

#definindoEmail{
    width: 100%;
}

#inputCelular{
    width: 100%;
}

#btnContinuar{
float: right;
background-color: #FFFF;
color: #6200EE;


}

#btnCancelar{
    background-color: #FFFF;
    color: #6200EE;
    
}
#footerProponente{
    margin-top: 40px;

    height: 80px;
    border-top: 1px solid rgb(229, 230, 230);
  
    
    padding:  1px;
}

#buttonCancelarButtonContinuar{
    margin-top: 25px;
 
   
}

