<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{headTituloInicial}}</title>
</head>
<body>
    <header id="menuTitulo">
        <img src="../../../app/img/SoVamuIcone.png">
        <div class="h1TituloPrincipal">
            <h1>Simulador de Financiamentos</h1>
        </div>
    </header>
    <nav id="tipoDeCadastramento" >
        <h2  id="dadosSubtitulo">Tela Inicial</h2>
    </nav>
    <main id="conteudo-principal">
        <section id="formularioInicio">
            <div id="infoTituloSub">
            <h3 id="tituloh3"><strong>Conquiste o sonho da casa própria</strong></h3>
            <p id="subtituloParagrafo"><strong>Em apenas alguns passos fique mais perto de <br> segurar as chaves :)</strong> </p>
            <button id="btnSimularFinancimento" ng-click="irProximaPage()" class="btn btn-primary">SIMULAR FINANCIAMENTO</button>
            </div>
        </section>
    </main>
    <footer id="footertelaInicial">
        <div id="marcaDaguaSoVamu">
            <img src="../../../app/img/marcad'aguaSovamu.png" alt="">
        </div>
    </footer>
</body>
</html>