<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <header id="menuTitulo">
        <div id="titulo">
           <h1>Simulador de Financiamentos</h1>
        </div>
    </header>

    <nav>
        <h2>Tela Inicial</h2>
    </nav>

    <main>
        <section>
            <h3>Conquiste o sonho da casa própria</h3>
            <p>Em apenas alguns passos fique mais perto de segurar as chaves</p>
            <button>SIMULAR FINANCIAMENTO</button>
        </section>
    </main>
</body>
</html>