<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{tituloHeadPageImovel}}</title>
</head>
<body>
    <header id="menuTitulo">
        <div id="titulo">
           <h1>Simulador de Financiamentos</h1>
        </div>
    </header>

    <nav>
        <h2>Dados do imóvel</h2>
    </nav>

    <main>
    <section>
    <form>
    <select ng-model="data.imovel"name="" id="" aria-placeholder="Tipo do Imóvel"></select>
    <input ng-model="data.renda" type="number" placeholder="Renda Mensal">
    <input ng-model="data.valor" type="number" placeholder="Valor do Imóvel">
    <input ng-model="data.valorEntrada" type="number" placeholder="Valor da entrada">
    <input ng-model= "data.qtdParcelas" type="number" placeholder="Em quantas parcela deseja parcelar?">
       
    <button ng-click="voltarPage()">VOLTAR</button>
    <button ng-click="irProximaPage()">SIMULAR</button>
    </form>
    </section>
    </main>
</body>
</html>